body {

    color     : black;
    text-align: center;
}
.container1 {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.container2 {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.heading {
    margin-bottom: 20px;
    font-size    : 3rem;
    color        : black;
}


.timer,
.errors,
.accuracy {
    background-color: #fff;
    height          : 40px;
    width           : 70px;
    margin          : 8px;
    padding         : 12px;
    border-radius   : 20%;
    /*   box-shadow      : black 5px 8px 5px; */
}



.header_text {
    text-transform: uppercase;
    font-size     : 0.6rem;
    font-weight   : 600;
}

.curr_time,
.curr_errors,
.curr_accuracy
{
    font-size: 2.75rem;
}

.quote {
    background-color: #fff;
    font-size       : 1.5rem;
    margin          : 10px;
    padding         : 25px;
    /*   box-shadow      : black 5px 8px 5px; */
}

.input_area {
    background-color: #fff;
    height          : 80px;
    width           : 40%;
    font-size       : 1.5rem;
    font-weight     : 600;
    margin          : 15px;
    padding         : 20px;

}

.incorrect_char {
    color          : red;
    text-decoration: underline;
}

.correct_char {
    color: darkgreen;
}

.restart_btn {


    font-size       : 1.5rem;
    padding         : 10px;
    border          : 0px;

}

.start_btn {
    margin-bottom   : 20px;

    font-size       : 1.5rem;
    padding         : 10px;
    border          : 0px;

}

